---
const ingredientsList: string[] = [
	'2-3 large eggs Salt',
	'to taste Pepper',
	'to taste 1 tablespoon of butter or oil',
	'Optional fillings: cheese, diced vegetables, cooked meats, herbs',
];
---

<div class='mx-8 p-8'>
	<h2 class='font-young-serif text-xl font-bold text-nutmeg'>Ingredients</h2>
	<ul class='list-disc marker:text-nutmeg'>
		{
			ingredientsList.map((ingredient) => {
				return <li class='mt-2 list-item pl-4 pb-2'>{ingredient}</li>;
			})
		}
	</ul>
</div>
