---
type Nutrition = {
	title: string;
	nutrition: string;
};

const nutritions: Nutrition[] = [
	{
		title: 'Calories',
		nutrition: '277kcal',
	},
	{
		title: 'Carbs',
		nutrition: '0g',
	},
	{
		title: 'Protein',
		nutrition: '20g',
	},
	{
		title: 'Fat',
		nutrition: '22g',
	},
];
---

<div class='px-8 py-8 md:px-0'>
	<h2 class='pb-2 font-young-serif text-2xl text-nutmeg'>Nutrition</h2>
	<p class='pb-2'>
		The table below shows nutritional values per serving without the
		additional fillings.
	</p>
	<div class='flex flex-col gap-2'>
		{
			nutritions.map(({nutrition, title}) => {
				return (
					<div class='flex justify-between border-b-[1px] px-4 py-2'>
						<div class='flex-1'>
							<p class='pl-2'>{title}</p>
						</div>
						<div class='flex-1'>
							<strong class='pl-2 text-nutmeg'>
								{nutrition}
							</strong>
						</div>
					</div>
				);
			})
		}
	</div>
</div>
